<div style="overflow-y: hidden;">
  
  <div class="w-100 bg-warning d-flex" style="height: 100vh;">
    <div class="m-auto" style="width: 100px;">
      <div class="border-0 bg-light shadow-sm mb-3" style="height: 2px; width: 70%; float: left;"></div>
      <div class="border-0 bg-light shadow-sm mb-3" style="height: 2px; width: 100%; float: left;"></div>
      <div class="border-0 bg-light shadow-sm mb-3" style="height: 2px; width: 50%; float: right;"></div>
    </div>
    <div class="fixed-bottom mx-auto mb-2">
      <h4 class="text-center text-light text-shadow-sm">Projetos</h4>
      <div class="mx-auto text-center">
        <button class="btn rounded text-light text-shadow-sm">
          <i class="fa fa-fw fa-chevron-up"></i>
        </button>
      </div>
    </div>
  </div>

</div>